[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pandas = "*"
youtube-transcript-api = "*"
datasets = "*"
transformers = "*"
tqdm = "*"
ipywidgets = "*"
torch = "*"
wordcloud = "*"
matplotlib = "*"
geopandas = "*"
streamlit = "*"
nltk = "*"
gensim = "*"
scikit-learn = "*"
requests = "*"
pyldavis = "*"
unga-speeches = {editable = true, path = "."}

[dev-packages]
black = {extras = ["jupyter"], version = "*"}
mypy = "*"
pylint = "*"

[requires]
python_version = "3.10"
